[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/spiritedonion/Desktop/wps-office-prometheus.desktop]
row=5
col=0

[48422FDF422FD10C]
row=1
col=0

[55095FFA641D98EA]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/spiritedonion]
row=4
col=0

